<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/css/style.css" />
  </head>
  <body>
    <figure>
      <img src="/img/logo-DH.png" alt="Logo Digital House" />
    </figure>
    <h1><%= title %></h1>
    <p>Bienvenidos a <%= title %></p>
    <br />
    <h3><a href="/movies">LISTA DE PELÍCULAS</a></h3>
    <br />
    <h3><a href="/movies/new">LISTA DE PELÍCULAS ORDENADAS POR FECHA</a></h3>
    <br />
    <h3><a href="/movies/recommended">LISTA DE PELÍCULAS RECOMENDADAS</a></h3>
    <br />
    <h3><a href="/genres">LISTA DE GÉNEROS</a></h3>
    <br />
    <h3><a href="/actors">LISTA DE ACTORES</a></h3>
  </body>
</html>
